<p ng-if="!user.userLoggedIn">You are not logged in. Please refresh to log in!</p>

<div ng-if="user.userLoggedIn">
    <div>
        <p>Hi <span ng-bind="user.userLoggedIn"></span>!</p>
        <p>Choose an answer for each of the questions and submit the test once done.</p>
        <p>Good luck!</p>
    </div>
    <form name="gameResponse" novalidate ng-submit="scoreGame()">
        <div class="questionBox" ng-repeat="question in questions">
            <p ng-bind="question.description"></p>
            <p>
                <input type="radio" ng-model="question.response" value="{{question.correctAnswer}}"/> 
                <span ng-bind="question.correctAnswer"></span>
            </p>
            <p>
                <input type="radio" ng-model="question.response" value="{{question.otherAnswer1}}"/> 
                <span ng-bind="question.otherAnswer1"></span>
            </p>
            <p>
                <input type="radio" ng-model="question.response" value="{{question.otherAnswer2}}"/> 
                <span ng-bind="question.otherAnswer2"></span>
             </p>
        </div>
       
        <div>
            <button><a href="#!/main">Cancel</a></button>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>